body {

    font-family: "Khmer OS Battambang", Arial, sans-serif;

    background: #f4f6f8;

    margin: 40px;

}


h1 {

    color: #1e3a8a;

}


h2 a {

    color: #059669;

    text-decoration: none;

}


p {

    font-size: 18px;

}