{% extends "base.html" %}

{% block title %}
Courses
{% endblock %}

{% block content %}

<h1 class="mb-4">
    Available Courses
</h1>

<div class="row">

{% for course in courses %}

<div class="col-md-4 mb-4">

<div class="card shadow-sm h-100">

{% if course.thumbnail %}
<img
src="{{ course.thumbnail.url }}"
class="card-img-top">
{% endif %}

<div class="card-body">

<h5>

{{ course.title }}

</h5>

<p>

{{ course.description|truncatewords:20 }}

</p>

<a
    href="{% url 'courses:course_detail' course.pk %}"
    class="btn btn-primary">

    Start Learning

</a>

</div>

</div>

</div>

{% endfor %}

</div>

{% endblock %}