{% extends "base.html" %}

{% block title %}
{{ course.title }}
{% endblock %}

{% block content %}

<div class="row">

    <!-- Sidebar -->
    <div class="col-md-4">

        <div class="card">

            <div class="card-header bg-primary text-white">
                Lessons
            </div>

            <div class="list-group list-group-flush">

                {% for lesson in lessons %}

                <a
                    href="{% url 'courses:lesson_detail' course.pk lesson.pk %}"
                    class="list-group-item list-group-item-action"
                >
                    {{ lesson.order }}.
                    {{ lesson.title }}
                </a>

                {% empty %}

                <div class="list-group-item">
                    No lessons yet.
                </div>

                {% endfor %}

            </div>

        </div>

    </div>

    <!-- Content -->
    <div class="col-md-8">

        <div class="card shadow-sm">

            {% if course.thumbnail %}

            <img
                src="{{ course.thumbnail.url }}"
                class="card-img-top">

            {% endif %}

            <div class="card-body">

                <h2>

                    {{ course.title }}

                </h2>

                <p>

                    {{ course.description }}

                </p>

                <hr>

                <a href="#"
                   class="btn btn-success">

                    ▶ Start First Lesson

                </a>

            </div>

        </div>

    </div>

</div>

{% endblock %}